.bg-fabrika{
    padding: 30px;
    background-color: rgba(243, 243, 243, 0.821);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.29);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.29);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.29);

}

.bg-fabrikas{
    font-family: 'Exo 2', sans-serif;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.564);
    border: 1px;
    border-radius: 20px;
    color: rgba(243, 243, 243, 0.83);
}

.list-fabrikas{
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(36, 36, 36);
}

.list-fabrika-1 {
    color: rgb(49, 49, 49);
    font-size: 20px;
    text-align: left;
    text-align: center;
    margin-top: 60px;
    
}
.list-fabrika-2{
    color: rgb(49, 49, 49);
    font-size: 20px;
    text-align: left;
    text-align: center;
    margin-top: 110px;
    
}
.list-fabrika-3{
    color: rgb(49, 49, 49);
    font-size: 20px;
    text-align: left;
    text-align: center;
    margin-top: 110px;
    
}

ion-icon {
    pointer-events: none;
   }

.info-fabrika{
    color: #f95222;
}

.border-color{
    border: 2px solid;
    border-top: 0px;
    border-color: rgb(36, 36, 36);
}

.parkur a{
    border: 2px solid;
    border-radius: 10px;
    color: white;
    background-color: #983317;
    padding: 12px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
}

.parkur :hover{
    animation: fillings1 0.5s both;
}


.hizmet a{
    border: 2px solid;
    border-radius: 10px;
    color: white;
    background-color: #f9512200;
    padding: 12px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
}

.hizmet :hover{
    animation: fillings 1s both;
    
}

@keyframes fillings{
    0% {background-color: #f9512200;}
    100% { background-color: #f95222;}
  
  }

  @keyframes fillings1{
    0% {background-color: #983317;color: white;}
    100% { background-color: #f95222;color: white;}
  
  }