html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  } 

::-moz-selection { /* Code for Firefox */
  color: white;
  background-color: #f95222;
}

::selection {
  color: white;
  background-color: #f95222;
}

.bg-proko{
  background-color: #f95222;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.box{
    padding: 50px;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: 100%;        
}

p{
    color: white;
    font-size: 17px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.row-footer li {
  text-decoration: none;
  list-style-type: none;
}
.row-footer a{
  text-decoration: none;
  color: white;
}

.row-footer li :hover{
  text-decoration: none;
  color: #f95222;
}
.color-proko{
  color: #f95222;
}

.text-proko{
  color: #f95222;
}

.row-footer p{
  color: rgb(162, 162, 162);
}

.photo-for-proko{
  
  width: 360px;
  height: 560px;
  box-shadow: 8px 8px 6px -3px rgba(0,0,0,0.56);
  -webkit-box-shadow: 8px 8px 6px -3px rgba(0,0,0,0.56);
  -moz-box-shadow: 8px 8px 6px -3px rgba(0,0,0,0.56);
}

.box-for-proko{
  box-shadow: 8px 8px 6px -3px rgba(0,0,0,0.56);
  -webkit-box-shadow: 8px 8px 6px -3px rgba(0,0,0,0.56);
  -moz-box-shadow: 8px 8px 6px -3px rgba(0,0,0,0.56);
}


h1{
  font-size: 40px;
}

p{
  color: #555;
}

.bg-custom{
  background-color: rgba(0, 0, 0, 0);
}
.top-right {
  position: absolute;
  top: 8px;
}

.nav-link-custom{
  font-size: 20px;
}


.fromUp{
  animation: fromUp 1s;
  top: 0px;
}

@keyframes fromUp {
  from {top:-50px; opacity: 0;};
  to {top:0px; opacity: 1;};
}


.fromLeft{
  animation: fromLeft 1s;
}

@keyframes fromLeft {
  from {opacity: 0; left:-100px}
  to {left:0px; opacity: 1;}
}


.fromRight{
  animation: fromRight 1s;
}

@keyframes fromRight {
  from {opacity: 0; right:-100px}
  to {right:0px; opacity: 1;}
}

.fromUp{
  animation: fromUp 1s;
  top: 0px;
}

@keyframes fromUp {
  from {top:-50px; opacity: 0;};
  to {top:0px; opacity: 1;};
}

.fromDown{
  animation: fromDown 1s;
}

@keyframes fromDown {
  from {opacity: 0; bottom:-50px}
  to {bottom:0px; opacity: 1;}
}

.logo-for-proko{
  font-size: 55px;
}

.text-custom{
  color: #888;
}

.opacity-0{
  opacity: 0;
}

.bg-image {
  /* The image used */

  /* Add the blur effect */
  filter: blur(1px);
  -webkit-filter: blur(1px);
  
  /* Full height */
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  border-radius: 10px;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 2px solid #ffffffcc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.bottom-text{
  background-color: rgba(119, 119, 119, 0.692);
  border-radius: 5px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: #f1f1f1;
  font-size: 25px;
  transition-duration: 0.5s;
}

.bottom-text:hover{
  background-color: #f95222;
  text-decoration: none;
  color: white;
}
.incele:hover{
  color: white;
}