html {
  scroll-behavior: smooth;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background-color: #f95222;
}

::selection {
  color: white;
  background-color: #f95222;
}

.bg-proko{
  background-color: #f95222;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.box{
    padding: 50px;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: 100%;        
}

h1{
    color: rgb(0, 0, 0);
    font-size: 40px;
}
p{
    color: white;
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
}

body{
    margin: 0;
    padding: 0;        
}

.imgs{
    text-align: center;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.row-footer li {
  text-decoration: none;
  list-style-type: none;
}
.row-footer a{
  text-decoration: none;
  color: white;
}

.row-footer li :hover{
  text-decoration: none;
  color: #f95222;
}
.color-proko{
  color: #f95222;
}

.text-proko{
  color: #f95222;
}

.row-footer p{
  color: rgb(162, 162, 162);
}

.photo-for-proko{
  width: 370px;
}

h1{
  font-size: 50px;
}

p{
  color: #555;
}

.bg-custom{
  background-color: rgba(0, 0, 0, 0);
}
.top-right {
  position: absolute;
  top: 8px;
}

.nav-link-custom{
  font-size: 20px;
}


.fromUp{
  animation: fromUp 1s;
  top: 0px;
}

@keyframes fromUp {
  from {top:-50px; opacity: 0;};
  to {top:0px; opacity: 1;};
}

