
html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}


html, body {
  max-width: 100%;
  overflow-x: hidden;
  } 



::-moz-selection { /* Code for Firefox */
  color: white;
  background-color: #f95222;
}

::selection {
  color: white;
  background-color: #f95222;
}

.bg-proko{
  background-color: #f95222;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }





.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.row-footer li {
  text-decoration: none;
  list-style-type: none;
}
.row-footer a{
  text-decoration: none;
  color: white;
}

.row-footer li :hover{
  text-decoration: none;
  color: #f95222;
}
.color-proko{
  color: #f95222;
}

.bg-proko-soft{
  background-color: #3c3c3cac;
}

.text-proko{
  color: #f95222;
}

.row-footer p{
  color: rgb(162, 162, 162);
}

.photo-for-proko{
  
  width: 360px;
  height: 560px;
  box-shadow: 8px 8px 6px -3px rgba(0,0,0,0.56);
  -webkit-box-shadow: 8px 8px 6px -3px rgba(0,0,0,0.56);
  -moz-box-shadow: 8px 8px 6px -3px rgba(0,0,0,0.56);
}

.box-for-proko{
  box-shadow: 8px 8px 6px -3px rgba(0,0,0,0.56);
  -webkit-box-shadow: 8px 8px 6px -3px rgba(0,0,0,0.56);
  -moz-box-shadow: 8px 8px 6px -3px rgba(0,0,0,0.56);
}


.top-right {
  position: absolute;
  top: 8px;
}

.nav-link-custom{
  font-size: 20px;
}


.fromUp{
  animation: fromUp 1s;

}

@keyframes fromUp {
  from {top:-50px; opacity: 0;};
  to {bottom:0px; opacity: 1;};
}


.fromLeft{
  animation: fromLeft 1s;
}

@keyframes fromLeft {
  from {opacity: 0; left:-100px}
  to {left:0px; opacity: 1;}
}


.fromRight{
  animation: fromRight 1s;
}

@keyframes fromRight {
  from {opacity: 0; right:-100px}
  to {right:0px; opacity: 1;}
}


.fromDown{
  animation: fromDown 1s;
}

@keyframes fromDown {
  from {opacity: 0; bottom:-100px}
  to {bottom:0px; opacity: 1;}
}

.logo-for-proko{
  font-size: 55px;
}

.text-custom{
  color: #888;
}

.opacity-0{
  opacity: 0;
}

.bg-image {
 
  filter: blur(1px) grayscale(40%) ;
  -webkit-filter: blur(1px) grayscale(40%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f95222;
}

/* Position text in the middle of the page/image */
.bg-text {
  border-radius: 10px;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 2px solid #00000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  padding: 20px;
  text-align: center;
  font-weight:bold;
}

.bg-text-0{
  background-color: rgba(55, 55, 55, 0.595);
  border-radius: 3px;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  padding: 5px;
  text-align: center;
  font-weight:bold;
}


.bottom-text{
  background-color: #d04823;
  border-radius: 5px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: #f1f1f1;
  font-size: 25px;
  transition-duration: 0.5s;
}

.bottom-text:hover{
  background-color: #f95222;
  text-decoration: none;
  color: white;
}
.incele:hover{
  color: white;
}

.bg-text-1 {
  border-radius: 2px; /* Fallback color */
  background-color: rgba(0, 0, 0, 0.715); /* Black w/opacity/see-through */
  color: white;
  border: 1px solid #ffffff00;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
}

.proko-border-top{
  padding: 12px;
  border-radius: 40% 40% 0 0;
  border-top: 80px solid ;
  border-color: rgb(52, 52, 52) ;
  background-color: #f95122c9;
  margin-bottom: 0px;
  
}

.proko-bg{
  border-top: 6px solid #000;
  border-bottom: 6px solid #000;
  margin-top: 0px;
  background-color: rgb(52, 52, 52) ;
  padding: 5px;
}
.type-proko{
  font-family: 'Dancing Script', cursive;
}

.bg-black{
  background-color: #000;
}

.border-n{
  text-align: right;
  border-bottom: 4px solid;
  width: 550px;
  border-radius: 3px;
  color: #f95222;
}

.border-nn{
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #f95222;
}

.border-nnn{
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #f95222;
}


.border-nnnn{
  border-bottom: 1px solid;
  border-color: #f95222;
}

.w-link{
  color: #f1f1f1;
  font-size: 20px;
}


.link-link :hover{
  transition-duration: 0.8s;
  color: #f95222;
  text-decoration: none;
}

.button-kesfet{
  position: relative;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #05050556;
  color: rgb(224, 224, 224);
  text-decoration: none;
  font-size: 30px;
  border-radius: 5px;
  border: 2px solid #05050556;
}

.buttons :hover{
  transition-duration: 1s;
  background-color: #1a1a1a;
  text-decoration: none;
  color: rgb(224, 224, 224);
}

.button-kesfet :hover{
  text-decoration: none;
  
}

.button-kesfet-2{
  position: relative;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #05050500;
  color: rgb(224, 224, 224);
  text-decoration: none;
  border: 2px solid rgb(224, 224, 224);
  font-size: 30px;
  border-radius: 5px;
}