html {
    scroll-behavior: smooth;
    max-width: 100%;
  }

.bg-fabrika{
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.485);
}

.list-fabrika{
    color: aliceblue;
    font-size: 20px;
    text-align: left;
    text-align: center;
    margin-top: 110px;
    
}

ion-icon {
    pointer-events: none;
   }

.info-fabrika{
    color: #f95222;
}

.border-color{
    border: 2px solid;
    border-top: 0px;
    border-color: rgba(0, 0, 0, 0.485);
}

.boxbox-left{
    box-shadow: -8px 12px 13px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: -8px 12px 13px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 12px 13px -3px rgba(0,0,0,0.75);
}

.boxbox-mid{
    box-shadow: 0px 12px 13px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 12px 13px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 12px 13px -3px rgba(0,0,0,0.75);
}

.boxbox-right{
    box-shadow: 8px 12px 13px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 12px 13px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 12px 13px -3px rgba(0,0,0,0.75);
}

.container-img{
    min-height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
  }
  
  .foo :hover{
    text-decoration: none;
    color: #c73f19;
  }

  .mycard{
    position: relative;
    padding: 15px;
    left: 7%;
    height: 150px;
    width: 150px;
    background-color: #c73f19;
    margin-bottom: 20px;
}

.triangle{
    width: 3px;
height: 3px;
border-style: solid;
border-width: 5px 0 5px 10px;
border-color: transparent transparent transparent #f95222;
}
