html, body {
  max-width: 100%;
  overflow-x: hidden;
  } 


.bg-kurumsal{
    padding: 30px;
    background-color: rgb(235, 234, 234);
    color: rgb(71, 71, 71);
}

.bg-kurumsal h2{
    color: black;
}

.bg-1{
    background-color: rgb(255, 246, 230);
}

.bg-2{
    background-color: rgb(255, 230, 230);
}
.bg-3{
    background-color: rgb(239, 255, 230);
}
.bg-4{
    background-color: rgb(239, 230, 255);
}
.bg-5{
    background-color: rgb(203, 208, 255);
}
.bg-6{
    background-color: rgb(255, 230, 230);
}

.bg-gray{
    background-color: rgb(161, 161, 161);
}

.bg-farklarimiz{
    background-color: rgb(212, 212, 212);
}

.bg-number{
    color: rgb(0, 0, 0);
}
.border-black{
    border: 1px solid;
    border-color: rgb(59, 59, 59);
}
.border-bottom-black{
    border-bottom: 1px solid;
    border-color: rgb(53, 53, 53);
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid rgb(0, 0, 0);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  .fromLeft{
    animation: fromLeft 1s;
  }

  @keyframes fromLeft {
    from {opacity: 0; left:-100px}
    to {left:0px; opacity: 1;}
  }

  
  .fromRight{
    animation: fromRight 1s;
  }

  @keyframes fromRight {
    from {opacity: 0; right:-100px}
    to {right:0px; opacity: 1;}
  }
  
  .fromUp{
    animation: fromUp 1s;
    top: 0px;
  }
  
  @keyframes fromUp {
    from {top:-50px; opacity: 0;};
    to {top:0px; opacity: 1;};
  }
  
  .fromDown{
    animation: fromDown 1s;
  }

  @keyframes fromDown {
    from {opacity: 0; bottom:-50px}
    to {bottom:0px; opacity: 1;}
  }

  .texts{
    color: rgb(76, 76, 76);
  }

  .logo-for-proko-1{
    font-size: 75px;
  }



  .kurumsal-illustrations {
    max-width: 400px;
    max-height: 400px;
  }
  .border-custom{
    border-color: rgb(195, 195, 195);
  }