html, body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    } 

    .project-name{
        background-color: rgba(0, 0, 0, 0.386);
        border-color: rgb(255, 255, 255);
        border: 2px;
    }

    img{
        width: 100%;
        height: 100%;
    }