  html, body {
  max-width: 100%;
  overflow-x: hidden;
  } 


  .square {
    position: relative;
    min-width: 200px;
    width: 250px;
    height: 250px;
    transition-duration: 0.7s;
   background-repeat: no-repeat;
   background-size: cover;
   
  }

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    top: 30%;
    pointer-events: none;
  }

  .gallery{
    margin-left: 100px;
  }

  .location{
    font-size: 15px;
    color: rgb(4, 4, 4);
  }
  .head{
    color: #fff;
    font-size: 20px;
  }

  .caption-referans{
    text-transform: uppercase;
  }
