  html, body {
  max-width: 100%;
  overflow-x: hidden;
  } 


  .square {
    background:#fff;
    position: relative;
    min-width: 50px;
    width: 250px;
    height: 250px;
    transition-duration: 0.7s;
   background-repeat: no-repeat;
   background-size: cover;
   box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
   
  }

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    top: 40%;
    pointer-events: none;
  }


  .location{
    font-size: 15px;
    color: rgb(180, 180, 180);
  }
  .head{
    color: rgb(235, 235, 235);
    font-size: 20px;
  }

  .caption-referans{
    text-transform: uppercase;
  }
